**__pycache__/

.local.env

# Local persistant db storage
**db-volumes

# Airflow
logs/

# MSSQL
services/mssql/*.bak
services/mssql/custom-data/
services/mssql/backups/

# Data used for local testing
data/*
