**__pycache__/

# Airflow
airflow/db-volumes/**
airflow/logs/**

# MSSQL
mssql/*.bak
mssql/db-data/
mssql/custom-data/
mssql/backups/
mssql-2/db-data/


# Postgres DB
pgdb/db-data/

# Data used for local testing
data/*